<% provide(:title, @user.email) %>

<% if logged_in? %>
	<div class="container">
		<section class="album_form">
			<%= render 'shared/album_form' %>
		</section>
	</div>
<% end %>

<div class="container">
	<ul class="albums">
		<% if @albums.any? %>
			<% @albums.each do |album| %>
				<li class="album_box">
					<%= link_to(album) do %>
						<p class="title"><%= album.title %></p>
						<img src="<%= album.picture.url  if album.picture? %>">
					<% end %>
				</li>

				<% if current_user?(album.user) %>	
					<p class="delete_album"><%= link_to "delete", album, method: :delete, 
																		 													 data: { confirm: "You sure?" }, 
																		 													 class: "btn btn-primary"			 %>
					</p>																 
				<% end %>
				
			<% end %>
		<% end %>
	</ul>	
</div>