<% if current_user?(@work.album.user) %>
	<%= form_for([@album, @work], html: { multipart: true }) do |f| %>
		<span class="picture">
			<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
		</span>
		<%= f.submit "Create", class: "btn btn-primary" %>
	<% end %>
<% end %>

<% @works.each do |work| %>
	<img src="<%= work.picture.url  if work.picture? %>">
	<% if current_user?(work.album.user) %>
		<%= link_to "delete", work_path(work), method: :delete, 
																			 		 data: { confirm: "You sure?"}%>
	<% end %>																		 								  
<% end %> 	